#GENERAL CREDENTIALS#

PORT=3357

AUTH_SECRET=d&mal&dma*çkd!ça@mdw$lmadá&(pdw

ADMINS=36,37,38

APP_ID=3218
APP_SECRET=o6a5lXFcDKZWzeFnbNKxLDK9tAhofFKy7I0o9oOX4ET6Me5d

#MAILGUN CREDENTIALS#

SMPT_USER=noreply@evacommerce.com.br
SMPT_PASSWORD=Pgk3.Q(~9xV3

#DEVELOPMENT CREDENTIALS# 

BASE_URL= 
API_URL= 

DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASS=docker
DATABASE_NAME=

TYPEORM_ENTITIES=./src/modules/**/infra/typeorm/entities/*.ts
TYPEORM_MIGRATION=./src/shared/infra/typeorm/migrations/*.ts
TYPEORM_MIGRATION_DIR=./src/shared/infra/typeorm/migrations

#PRODUCTION CREDENTIALS# 

#BASE_URL= 
#API_URL= 

#DATABASE_HOST=
#DATABASE_PORT=
#DATABASE_USER=
#DATABASE_PASS=
#DATABASE_NAME=

#TYPEORM_ENTITIES=./dist/modules/**/infra/typeorm/entities/*.js
#TYPEORM_MIGRATION=./dist/shared/infra/typeorm/migrations/*.js
#TYPEORM_MIGRATION_DIR=./dist/shared/infra/typeorm/migrations

